@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('http://fonts.googleapis.com/css?family=Lato:300,100');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
	margin: 0; 

}
MainNav{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 200px;
	background:transparent;
}

.logo{
	position: absolute;
	
	top:50px;
	left:50px;
	width: 200px;
	height: auto;
	background:#fff;
	padding:10px;
	border-radius: 10px;
	z-index: 10;


	background: rgba(255,255,255,0.8);

	/*background: -webkit-linear-gradient(left,#FF9F1C,#E63946); 
  background: -o-linear-gradient(right,#FF9F1C,#E63946); 
  background: -moz-linear-gradient(right,#FF9F1C,#E63946); 
  background: linear-gradient(to right, #E63946,#003459);*/
	
}

header{

	position: absolute;
	top:10px;
	width:600px;
	left:50%;
	margin-left:-330px;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	color: #fff;
	text-align: center;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:10px;
	border-bottom: 2px #fff solid;

}

.navig{
	text-align: center;
	position: absolute;
	top:50px;
	left:292px;
	//width:550px;
	height:50px;
	padding-bottom:0px;
	padding-top:17px;
	background:#fff;
	//border-radius: 10px;
	

	border-bottom: 4px solid rgba(255,255,255,0.8);;


	background: transparent; 
	/*
	background: rgba(0,0,0,0.4);

	background: linear-gradient(to right , #FAFFFA , transparent) !important;
  	background: -webkit-linear-gradient(left,#FAFFFA,transparent); 
  	background: -o-linear-gradient(right,#FAFFFA,transparent);
  	background: -moz-linear-gradient(right,#FAFFFA,transparent); 
  	background: linear-gradient(to right, #FAFFFA,transparent); */

}


/*nav-right:hover{

	background:#ddd;
	height:200px;
}
*/
nav-link{
	text-align: center;
	margin:20px;
}

nav-link a{
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	color: #fff;
	padding: 19px;
	transition: color 0.1s linear,background 0.1s linear; 
	padding-bottom: 11px;
}

nav-link a:hover{
	color: #000;
	text-decoration: none;
	border-bottom: 4px solid #000;
}



.bigNav{
	position: absolute;
	top:100px;
	left:340px;
	width:240px;
	height:250px;
	//border-radius: 10px;
	//border-top:20px solid rgba(0,0,0,0.2);
	padding:7px;
	z-index: -10;

	-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);

	opacity: 0;

	background: rgba(0,0,0,0.6);
	transition:opacity 0.1s linear;

}

.bigNavlink{
	/*position: absolute;*/
	display: block;
	margin-top:15px;
	text-align: left;
	padding: 6px;
	color: #fff;

}

.bigNavlink:hover{
	background: #ddd;
	color:#000; 
}


.bigNavlink a{

	width:100%;
	
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: inherit;
	padding: 6px;
}

.bigNavlink img{
	position: absolute;
	right: 10px;
	width:25px;
	height:auto;
}
.bigNavDetails ul{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #fff;


}
/*
#bigNavLink1{
	top:50px;
	left:30px;
}
#bigNavLink2{
	top:50px;
	left:180px;
}
#bigNavLink3{
	top:50px;
	left:330px;
}
#bigNavLink4{
	top:50px;
	left:480px;
}
#bigNavLink5{
	top:50px;
	left:630px;
}
*/

.bigNavDetails{
	position: absolute;
	
	left:600px;
	width:240px;
	
	height:150px;
	//border-radius: 10px;
	//border-top:20px solid rgba(0,0,0,0.2);
	padding:7px;
	z-index: -10;

	opacity: 0;
	transition:opacity 0.1s linear;


	background: rgba(0,0,0,1);


	-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
}


#bigNavDetails1{
	top:110px;
}
#bigNavDetails2{
	top:130px;
}
#bigNavDetails3{
	top:160px;
}
#bigNavDetails4{
	top:190px;
}
#bigNavDetails5{
	top:210px;
}


slide1{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:730px;
	background-image: url("bgm.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 730px;	
}

slide2{
	position: absolute;
	top:1200px;
	left:0;
	right:0;
	height:1030px;

	background:#e5e5e7;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}

slide3{
	position: absolute;
	top:2230px;
	left:0;
	right:0;
	height:2600px;

	background:#BEA57D;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}
slide4{
	position: absolute;
	top:4830px;
	left:0;
	right:0;
	height:650px;

	background:#376596;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}

slide5{
	position: absolute;
	top:5480px;
	left:0;
	right:0;
	height:750px;

	background:#F45B69;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}
slide6{
	position: absolute;
	top:6230px;
	left:0;
	right:0;
	height:450px;
	background:#444242;
}


.theGuyPic{
	position: absolute;
	top:200px;
	left:50%;
	width:200px;
	height:200px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: -120px;
	border:2px solid #ffffff;
	padding:20px;
}
.theGuyPic img{
	height: 100%;
	width:auto;

}

.theGuyName{
	position: absolute;
	top:470px;
	left:49%;
	margin-left:-150px;
	width:300px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color:#fff;

}
.theGuyDetails{
	position: absolute;
	top:550px;
	left:50%;
	margin-left:-25%;
	width:50%;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color:#fff;

}

.theGuyMap{
	position: absolute;
	top:200px;
	left:5%;
	width:300px;
/*	height:300px;
*/	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	color:#fff;
	padding:10px;
	line-height: 27px;

}


.theGuyMap iframe{
	width:300px;
	height:300px;
	z-index: 20;
}

.theGuyPhone{
	position: absolute;
	top:210px;
	right:5%;
	width:300px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	color:#fff;
	padding:10px;
}
.theGuyAddress{
	position: absolute;
	top:330px;
	right:5%;
	width:300px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	color:#fff;
	padding:10px;
	border:2px solid #fff;
}
.boldHeading{
	position: absolute;
	top:100px;
	left:100px;
	font-size: 40px;
	color:#fff;
	font-family: Helvetica;
	font-weight: bold;

	border-bottom:2px solid #fff;
}



.review{
	position: absolute;
	
	padding:30px;
	border:2px solid transparent;
}

.review:hover{

	border: 2px solid #fff;
}

.reviewText{
	font-family: 'Merriweather', serif;
	font-size: 55px;
	color:#fff;
	font-style: italic;
}

.reviewer{
	font-family: Helvetica;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	text-align: right;

}

#rev1{
	top:250px;
	left:10%;
}
#rev2{
	top:250px;
	right:10%;
}
#rev3{
	top:500px;
	left:10%;
}
#rev4{
	top:500px;
	right:10%;
}
#rev5{
	top:750px;
	left:10%;
}
#rev6{
	top:750px;
	right:10%;
}

.tripIcon{
	position: absolute;
	top:70px;
	right:100px;
	height:150px;
	width: auto;
	background: transparent;
}

.rent1{
	position: absolute;
	left:5%;
	width:42.5%;
	height:400px;
	background: #D1D1D1;

	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
}

.rent2{


	position: absolute;
	right:5%;
	width:42.5%;
	height:500px;
	background: #D1D1D1;

	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);

}
.rent3{
	position: absolute;
	width:42.5%;
	height:500px;
	background: #D1D1D1;
	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);

}
#rent1l{
	top:350px;
}
#rent1r{
	top:350px;
}
#rent2l{
	top:1450px;
	right:5%;
	height:400px;
}
#rent2r{
	top:800px;
}
#rent3l{
	top:900px;
}
#rent3r{
	top:1250px;
	left:5%;
	height:550px;
}
.rent1 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;
	overflow:hidden;

}
.rent2 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;
	overflow:hidden;
}

.innerImg img{
	width:100%;
	height:auto;
	
}

#rent1l .innerImg img{
	margin-top:-70px;
	padding:80px;
}
#rent1r .innerImg img{
	margin-top:-20px;
	height:110%;	
}
#rent2r .innerImg img{
	margin-top:0px;

}
#rent2l .innerImg img{
	margin-top:-100px;
	padding:40px;
}



.rent3 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;

}




.rentSubText{
	position: absolute;
	bottom:20px;
	left:20px;
	font-size: 36px;
	color:#000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	width:45%;
	border-right:2px solid #666;

}

.rentRange{

	position: absolute;
	bottom:40px;
	right:20px;
	font-size: 32px;
	color:#000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	width:40%;
	//border-bottom:2px solid #fff;

	opacity: 1;

	transition: opacity 0.1s linear;
}


.smallBox{

	position: absolute;
	top:2000px;
	width:20%;
	height:300px;
	background: #e5e5e7;
	-webkit-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
}

.smallBox para{
	position: absolute;
	top:130px;
	left:50%;
	margin-left:-45%;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color:#000;
	margin-top:30px;
	margin-bottom: -20px;
	line-height: 27px;

}	


#smallBox1{
	left:20%;
	margin-left:-4px;
}
#smallBox2{
	left:40%;
	margin-left:-2px;

	
}
#smallBox3{
	left:60%;
	
}

.info-icon{
	position: absolute;
	top:50px;
	left:50%;
	height:80px;
	width:80px;
	margin-left:-40px;

}

.infoBox{
	position: absolute;
	width:70%;
	height:auto;
	background: #e5e5e7;
	-webkit-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
}

#infoBox1{

	top:2050px;
	left:50%;

}
#infoBox2{
	top:2350px;
	left:50%;
	margin-left: -35%
}

.infoText{
	
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color:#000;
	margin-top:30px;
	margin-bottom: -20px;
}

.infoPara{
	color: #000;
	text-align: center;
}
.infoPara ul{
	color:#000;
	text-align: center;
	font-size: 20px;
	line-height: 27px;
}
.infoPara ul li{
	display: inline-flex;
	margin:15px;
}	

tours{

	position: absolute;
	top:730px;
	left:0;
	right:0;
	height:650px;

	z-index: -30;
	background: #aaa;
   	margin: 0px;
	background: black;
	overflow: hidden;
	background-color: #060a11;
	background: -moz-linear-gradient(155deg,#060a11 0%,#293c64 40%);
	background-image: linear-gradient(155deg,#060a11 0%,#293c64 40%);
	background-size: cover;

}	


#cartesian
{
	margin:0px;
	border:1px solid #020202;
	border-width: 1px 0px;
	position: absolute;
	z-index: +1;
	left: 0;
	top:-170px;
}
#underlay
{
	background:linear-gradient(to bottom,rgba(255,194,0,0.3) 0%,transparent 60%);
	background:-moz-osx-linear-gradient(to bottom,rgba(255,194,0,0.3) 0%,transparent 60%);
	width: 100%;
	height:100%;
	z-index: 0;
	position: absolute;
	top:0px;
}



tour1{
	position: absolute;
	left:6.25%;
	width:340px;
	background: #E63946;
	color:#FFFFFF;

	overflow: hidden;

	
}
tour2{
	position: absolute;
	left:37.5%;
	width:340px;

	background: #2A2B2E;
	color:#ffffff;
	overflow: hidden;
}

tour3{
	position: absolute;
	left:68.75%;
	width:340px;

	background: #003459;
	color:#FFFFFF;
	overflow: hidden;

}

tour4{
	position: absolute;
	left:20%;
	width:340px;

	background: #499167;
	color:#FFFFFF;
	overflow: hidden;

}
tour5{
	position: absolute;
	right:20%;
	width:340px;

	background: #FCA311;
	color:#FFFFFF;
	overflow: hidden;

}
tour1,tour2,tour3{
	top:1030px;
	height: 510px;
	z-index: 10;

	overflow-y: hidden;
	border-radius:30px;
	/*-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);*/
}
tour4,tour5{
	top:1600px;
	height: 510px;
	z-index: 10;
   	border-radius:30px;

	overflow-y: hidden;

	/*-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);*/
}

.tourImg{
	position: absolute;
	top:100px;
	left:50%;
	margin-left:-50%; 
	width:100%;
	height:auto;
}

/*
tour1 boxHead{
	border-bottom: 2px #FFFFFF solid;
}


tour2 boxHead{
	border-bottom: 2px #ffffff solid;
}


tour3 boxHead{
	border-bottom: 2px #FFFFFF solid;
}
tour4 boxHead{
	border-bottom: 2px #ffffff solid;
}


tour5 boxHead{
	border-bottom: 2px #FFFFFF solid;
}
*/
boxHead{
	font-family: 'Lato', serif;
	font-size: 30px;
	text-align: center;
	padding:0px;
	display:block;
	margin-top:30px;
}


content{
	position: absolute;
	top:130px;
	left:0;
	right:0;
	height:100%;
}
text-animate{
	position: absolute;
	top:100px;
	left:50%;
	max-width: 900px;
	width:900px;
	margin-left:-450px;
	color:#F1FAEE;

}

dig0{
	left:0;
	top:0;
	position: absolute;
	font-size: 60px;
	font-family: 'Josefin Sans', sans-serif;
	width:470px;


}

main{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	overflow: hidden;
	height:5em;
	font-family: 'Merriweather', serif;
	font-style: italic;

	//border-bottom:3px solid rgba(255,255,255,0.4);

	//background: rgba(0,0,0,0.2);


}
dig1{
	animation:rollup1 9s ease 0s infinite normal;
	left:0px;
	top:0;
	position: absolute;
	font-size: 60px;
	width: 100%;
	text-align:center;
}


dig2{
		animation:rollup2 9s ease 0s infinite normal;
		left:0px;
		top:0;
		position: absolute;
		font-size: 60px	;
		width: 100%;
		text-align:center;
}


dig3{
		animation:rollup3 9s ease 0s infinite normal;
		left:0px;
		top:0;
		position: absolute;
		font-size: 60px	;
		width: 100%;
		text-align:center;
}

.subHeading{
	position: absolute;
	top:50px;
	width:300px;
	left:50%;
	margin-left:-180px;
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
	color: #fff;
	text-align: center;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:10px;

	z-index: 10;
}

.blackBg{
	//background: #028090;
}

@-webkit-keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@-webkit-keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@-webkit-keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}

@-moz-keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@-moz-keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@-moz-keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}



@keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}


text-animate2{
	position: absolute;
	top:200px;
	left:60%;
	max-width: 300px;
	width:300px;
	margin-left:-150px;
	color:#F1FAEE;

}

dig0{
	left:0;
	top:0;
	position: absolute;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	width:470px;


}

main2{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	overflow: hidden;
	height:3em;
	font-family: 'Josefin Sans', sans-serif;
	//background: rgba(0,0,0,0.4);


}
digsmall1{
	animation:rollup1 9s ease 0s infinite normal;
	left:0px;
	top:0;
	position: absolute;
	font-size: 25px;
	width: 100%;
	text-align:center;
}


digsmall2{
		animation:rollup2 9s ease 0s infinite normal;
		left:0px;
		top:0;
		position: absolute;
		font-size: 25px	;
		width: 100%;
		text-align:center;
}


digsmall3{
		animation:rollup3 9s ease 0s infinite normal;
		left:0px;
		top:0;
		position: absolute;
		font-size: 25px	;
		width: 100%;
		text-align:center;
}

.subHeading{
	position: absolute;
	top:50px;
	width:300px;
	left:50%;
	margin-left:-180px;
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
	color: #fff;
	text-align: center;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:10px;

	z-index: 10;
}

.blackBg{
	//background: #028090;
}

@-webkit-keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@-webkit-keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@-webkit-keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}

@-moz-keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@-moz-keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@-moz-keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}



@keyframes rollup1{
	
	
	0%{
		opacity: 1;
		top:0em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:0em;
		left:0px;
	}	
	30%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	58.33%{
		opacity: 0;		
		left:500px;
		top:0em;	
	}
	66.66%{
		opacity: 0;		
		left:0px;
		top:4em;
	}
	92.66%{
		opacity: 1;		
		left:0px;
		top:4em;
	}
	100%{
		opacity:1;
		left:0px;
		top:0em;
	}
}


@keyframes rollup2{

	
	0%{
		opacity: 0;
		top:4em;
		left:0px;
	}
	25%{
		opacity: 1;
		top:4em;
		left:0px;
	}
	33.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:0em;	
	}
	63%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;		
		left:500px;
		top:0em;
	}
	92.66%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity:0;
		left:0px;
		top:4em;
	}
}


@keyframes rollup3{

	
	0%{
		opacity: 0;
		top:0;
		left:500px;
	}
	25%{
		left:500px;
		top:0em;
		opacity: 0;
	}
	33.33%{
		opacity: 0;		
		left:0px;
		top:4em;	
	}
	58.33%{
		opacity: 1;		
		left:0px;
		top:4em;	
	}
	66.66%{
		opacity: 1;		
		left:0px;
		top:0em;
	}
	92.66%{
		opacity: 1;
		top:0;
		left:0px;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		left:500px;
		top:0em;
	}
}


.down_arrow{
	height:20px;
	width:20px;
}


bouncer{
	position: absolute;
	top:600px;
	left:50%;
	margin-left:-15px;
	height:40px;
	width:40px;
	//border-radius: 50%;
	//border:2px solid #fff;


}

bouncer img{
	position: absolute;
	top:0px;
	left:0;
	margin:-4px;

	animation: moveDown 0.6s ease-in-out 0s infinite alternate;
	-moz-animation: moveDown 0.6s ease-in-out 0s infinite alternate;
	-webkit-animation: moveDown 0.6s ease-in-out 0s infinite alternate;


}

@-webkit-keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}
@-moz-keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}
@keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}



popUp{
	position: absolute;
	top:450px;
	height: 40px;
	width:auto;
	transition: top 0.2s linear;
	

}



.leftPopUp{
	left:50px;
}

.rightPopUp{
	right:50px;
}


popUp a{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding:10px;
	border:2px solid #fff;


}

popUp a:hover{
	-webkit-box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
}

.leftPop:hover{
	background: #fff;
	color: #000;
}


.middlePop:hover{
	background: #fff;
	color: #000;
}

.rightPop:hover{
	background: #fff;
	color: #000;
}

.rightPop1:hover{
	background: #fff;
	color: #FCA311;
}
.leftPop1:hover{
	background: #fff;

	color: #499167;
}

tourCost{
	position: absolute;
	top:370px;
	left:0;
	right:70%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
tourDates{
	position: absolute;
	top:370px;
	left:30%;
	right:0;
	height:25px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top:10px;
	border-left:2px solid #fff;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;

}

.strip{
	line-height: 30px;
	height:50px;
	background: #3A3238;	
}
para{

	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	padding:10px;
	margin:10px;
	text-align: left;
	display: block;
}
.neon{
	text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 60px deepskyblue, 0 0 70px deepskyblue, 0 0 80px deepskyblue, 0 0 90px deepskyblue, 0 0 100px skyblue;
}


iframe{
	position: absolute;
	top:750px;
	height:1000px;
	left:0%;
	width:100%;
	margin-left:-380px;
}


.fixedContact{
	z-index: 30;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:0;
	right:30px;
	font-size: 17px;
	color: #000;
	padding:7px;
	border-bottom-right-radius: 5px;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom-left-radius: 5px;

}	

.fb{
	height:20px;
	width:20px;
	border:1px solid #fff;
}

.fb img{
	height:20px;
	width: 20px;
	display: inline-block;
}


#foot-logo{
	position: absolute;
	top:100px;
	left:100px;
}

.footBox{
	position: absolute;
	
	width:300px;
	height: auto;
}

.list ul li a{
	font-family: "Lato",sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	text-decoration: none;
}

.list ul{
	list-style: none;
}

.list ul li{
	text-align: left;

}

.footHead{
	margin-left:-90px;
	color: #d5d5d5;
	font-size: 25px;
}

#footBox1{
	top:50px;
	left:400px;	
}
#footBox2{
	top:50px;
	left:700px;
}

.iframe-rwd  {
	position: relative;
	top:50px;
	height: 300px;
	left:1000px;
	width:300px;
	overflow: hidden;
}

.iframe-rwd iframe {
position: absolute;
top: 0;
left: 50%;
margin-left: -50%;
width: 100%;
height: 100%;
}

.social-bar{
	position: absolute;
	top:400px;
	left: 50%;
	width:310px;
	margin-left: -155px;
	display: inline-block;

}

.social-bar img{
	margin:5px;
	height: 30px;
	width: 30px;
}

@media screen and (max-width: 660px) {



	.logo{

		margin-left:-100px;
		left:50%;

	}

	body{
	margin: 0 ; 
	}

	slide1{
		position: absolute;
		top:0;
		left:0;
		right:0;
		height:730px;
		background-image: url("bgm.jpg");
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 1000px 730px;

	}
	.navig{
	text-align: center;
	position: absolute;
	top:150px;
	left:0;
	right:0;
	height:50px;
	padding-bottom:0px;
	padding-top:17px;
	//border-radius: 10px;
	z-index: 10;

	border-bottom: 4px solid rgba(255,255,255,0.8);;
	background: transparent; 
	

	}

	.fixedContact{
	z-index: 30;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:0;
	right:30px;
	font-size: 12px;
	color: #000;
	padding:7px;
	border-bottom-right-radius: 5px;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom-left-radius: 5px;

	}	
	dig1,dig2,dig3{
		font-size: 30px	;
	}

	text-animate{
	position: absolute;
	top:100px;
	left:50%;
	width:80%;
	margin-left:-40%;
	color:#F1FAEE;

	}

	digsmall1,digsmall2,digsmall3{
		font-size: 20px;
	}

	text-animate2{
	position: absolute;
	top:200px;
	left:60%;
	width:40%;
	margin-left:-20%;
	color:#F1FAEE;

	}

	tour1{
	position: absolute;
	left:50%;
	margin-left:-170px;
	width:340px;
	background: #E63946;
	color:#FFFFFF;
	overflow: hidden;
	top:1030px;
		height: 330px;
		z-index: 10;
		border-radius: 0;
		overflow-y: hidden;
	}
	tour2{
		position: absolute;
		left:50%;
		margin-left:-170px;
		width:340px;

		background: #2A2B2E;
		color:#ffffff;
		overflow: hidden;
		top:1390px;
		height: 330px;
		z-index: 10;
		border-radius: 0;
		overflow-y: hidden;
	}

	tour3{
		position: absolute;
		left:50%;
		margin-left:-170px;
		width:340px;

		background: #003459;
		color:#FFFFFF;
		overflow: hidden;
		top:1780px;
		height: 330px;
		z-index: 10;
		border-radius: 0;
		overflow-y: hidden;

	}

	tour4{
		position: absolute;
		left:50%;
		margin-left:-170px;
		width:340px;

		background: #499167;
		color:#FFFFFF;
		overflow: hidden;
		top:2170px;
		height: 330px;
		z-index: 10;
		border-radius: 0;
		overflow-y: hidden;

	}
	tour5{
		position: absolute;
		left:50%;
		margin-left:-170px;
		width:340px;

		background: #FCA311;
		color:#FFFFFF;
		overflow: hidden;
		top:2560px;
		height: 330px;
		z-index: 10;
		border-radius: 0;
		overflow-y: hidden;

	}
	

	.tourImg{
		position: absolute;
		top:100px;
		left:50%;
		margin-left:-50%; 
		width:100%;
		height:auto;
	}

	popUp{
	position: absolute;
	top:290px;
	height: 40px;
	width:auto;
	transition: top 0.2s linear;
	

	}
	tourCost{
		position: absolute;
		top:210px;
		left:0;
		right:70%;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		padding-top:10px;
		border-top:2px solid #fff;
		border-bottom:2px solid #fff;
	}
	tourDates{
		position: absolute;
		top:210px;
		left:30%;
		right:0;
		height:25px;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		padding-top:10px;
		border-left:2px solid #fff;
		border-top:2px solid #fff;
		border-bottom:2px solid #fff;

	}

	tours{
		height:400px;

	}

	slide2{

		top:1100px;
		height:2100px;
	}
	slide3{
		top:3020px;
		height:3900px;

	}

slide4{
	position: absolute;
	top:5220;
	left:0;
	right:0;
	height:650px;

	background:#376596;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}

slide5{
	position: absolute;
	top:6770;
	left:0;
	right:0;
	height:750px;

	background:#F45B69;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}
slide6{
	position: absolute;
	top:6620;
	left:0;
	right:0;
	height:450px;
	background:#444242;
}

#rent1l,#rent1r,#rent2l,#rent2r,#rent3l,#rent3r{
	position: absolute;
	left:50%;
	width:330px;
	height:430px;
	background: #D1D1D1;
	margin-left: -165px;
	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.75);
}


#rent1l{
	top:350px;
}
#rent1r{
	top:810px;
}
#rent2l{
	top:1270px;
	
}
#rent2r{
	top:1720px;
}
#rent3l{
	top:2170px;
}
#rent3r{
	top:2620px;
	
}
.rent1 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;
	overflow:hidden;

}
.rent2 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;
	overflow:hidden;
}

.innerImg img{
	width:100%;
	height:auto;
	
}

#rent1l .innerImg img{
	margin-top:40px;
	padding:0px;
}
#rent1r .innerImg img{
	padding:50px;
	margin-left:-40px;
	width:auto;
	height:100%;	
}
#rent2r .innerImg img{
	margin-left:-80px;
	padding:60px;
	width:auto;
	height:100%;	
}
#rent2l .innerImg img{
	margin-top:00px;
	padding:10px;
}

#rent3l .innerImg img{
	margin-top:30px;
}
#rent3r .innerImg img{
	margin-top:30px;
}



.rent3 .innerImg{
	background: #fff;
	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	height:70%;

}




.rentSubText{
	position: absolute;
	bottom:10px;
	left:20px;
	font-size: 30px;
	color:#000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	width:45%;
	border-right:2px solid #666;

}

.rentRange{

	position: absolute;
	bottom:10px;
	right:20px;
	font-size: 29px;
	color:#000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	width:40%;
	//border-bottom:2px solid #fff;

	opacity: 1;

	transition: opacity 0.1s linear;
}


.smallBox{

	position: absolute;
	top:2000px;
	width:20%;
	height:300px;
	background: #e5e5e7;
	-webkit-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
}

.smallBox para{
	position: absolute;
	top:130px;
	left:50%;
	margin-left:-45%;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color:#000;
	margin-top:30px;
	margin-bottom: -20px;
	line-height: 27px;

}	


#smallBox1{
	left:20%;
	margin-left:-4px;
}
#smallBox2{
	left:40%;
	margin-left:-2px;

	
}
#smallBox3{
	left:60%;
	
}

.info-icon{
	position: absolute;
	top:50px;
	left:50%;
	height:80px;
	width:80px;
	margin-left:-40px;

}


}



