@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Montserrat')
body{
	margin: 0; 

}
nav{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 200px;

	background:transparent;



}


header{

	position: absolute;
	top:10px;
	width:600px;
	left:50%;
	margin-left:-330px;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	color: #fff;
	text-align: center;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:10px;
	border-bottom: 2px #fff solid;

}

nav-right{
	text-align: center;
	position: absolute;
	top:100px;
	width:100%;
	height:50px;
	padding-bottom:10px;
	padding-top:10px;
	background:transparent;

}


/*nav-right:hover{

	background:#ddd;
	height:200px;
}
*/
nav-link{
	text-align: center;
	padding:20px;

}


nav-link a{
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 21px;
	color: #fff;
	padding: 10px;
	transition: color 0.1s linear,background 0.1s linear; 
}

nav-link a:hover{
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

slide1{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:730px;
	background-image: url("bg1.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 730px;	
}

slide2{
	position: absolute;
	top:1380px;
	left:0;
	right:0;
	height:600px;

	background:#e5e5e7;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}

slide3{
	position: absolute;
	top:1980px;
	left:0;
	right:0;
	height:1750px;

	background:#2A2B2E;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 796px;	

}


.rent1{
	position: absolute;
	left:10%;
	width:35%;
	height:380px;
	//border:2px solid #fff;
	background: #DB423F;

}


#rent1l{
	top:350px;
}
#rent1r{
	top:350px;
}
#rent2l{
	top:800px;
}
#rent2r{
	top:800px;
}
#rent3l{
	top:1250px;
}
#rent3r{
	top:1250px;
}
.rent1 .innerImg{

	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	border:1px solid #fff;
	height:80%;
}

.rent2 .innerImg{

	position: absolute;
	top:3%;
	left:50%;
	width:96%;
	margin-left: -48%;
	border:1px solid #fff;
	height:80%;
}

.rent2{
	position: absolute;
	top:350px;
	right:10%;
	width:35%;
	height:380px;
	background: #DB423F;
	//border:2px solid #fff;
}

.rentSubText{
	position: absolute;
	top:330px;
	left:50%;
	font-size: 22px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	width:300px;
	//border-bottom:2px solid #fff;
	padding:6px;
	margin-left: -156px;
}

.rentRange{

	position: absolute;
	top:150px;
	left:50%;
	font-size: 27px;
	color:#fff;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	width:90%;
	//border-bottom:2px solid #fff;
	margin-left: -45%;

	opacity: 0;

	transition: opacity 0.1s linear;
}

.rent1:hover > .rentRange{
	opacity: 0.9;
	background:#2A2B2E;
}

.rent2:hover > .rentRange{
	opacity: 0.9;
	background:#2A2B2E;
}
tours{

	position: absolute;
	top:730px;
	left:0;
	right:0;
	height:650px;

	z-index: -30;
	background: #aaa;
   	
   	margin: 0px;
	background: black;
	overflow: hidden;
	background-color: #060a11;
	  background: -moz-linear-gradient(155deg,#060a11 0%,#293c64 40%);
	background-image: linear-gradient(155deg,#060a11 0%,#293c64 40%);
	background-size: cover;

}	


#cartesian
{
	margin:0px;
	border:1px solid #020202;
	border-width: 1px 0px;
	position: absolute;
	z-index: +1;
	left: 0;
	top:0;
}
#underlay
{
	background:linear-gradient(to bottom left,rgba(255,194,0,0.3) 0%,transparent 60%);
	background:-moz-osx-linear-gradient(to bottom left,rgba(255,194,0,0.3) 0%,transparent 60%);
	width: 100%;
	height:100%;
	z-index: 0;
	position: absolute;
}



tour1{
	position: absolute;
	left:5%;
	width:30%;
	background: #E63946;
	color:#FFFFFF;

	overflow: hidden;

	
}

tour1:hover popUp{

	top:290px;

}
tour2:hover popUp{

	top:290px;

}
tour3:hover popUp{

	top:290px;

}
tour4:hover popUp{

	top:290px;

}
tour5:hover popUp{

	top:290px;

}
tour2{
	position: absolute;
	left:35%;
	width:30%;

	background: #2A2B2E;
	color:#ffffff;
	overflow: hidden;
}

tour3{
	position: absolute;
	left:65%;
	width:30%;

	background: #003459;
	color:#FFFFFF;
	overflow: hidden;

}

tour4{
	position: absolute;
	left:20%;
	width:30%;

	background: #499167;
	color:#FFFFFF;
	overflow: hidden;

}
tour5{
	position: absolute;
	left:50%;
	width:30%;

	background: #FCA311;
	color:#FFFFFF;
	overflow: hidden;

}
tour1,tour2,tour3{
	top:1230px;
	height: 350px;
	z-index: 10;

	overflow-y: hidden;

	-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
}
tour4,tour5{
	top:1580px;
	height: 350px;
	z-index: 10;

	overflow-y: hidden;

	-webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
}

tour1 boxHead{
	border-bottom: 2px #FFFFFF solid;
}


tour2 boxHead{
	border-bottom: 2px #ffffff solid;
}


tour3 boxHead{
	border-bottom: 2px #FFFFFF solid;
}
tour4 boxHead{
	border-bottom: 2px #ffffff solid;
}


tour5 boxHead{
	border-bottom: 2px #FFFFFF solid;
}

boxHead{
	font-family: 'Roboto Slab', serif;
	font-size: 27px;
	text-align: center;
	padding:10px;
	display:block;
	margin:20px;
}


content{
	position: absolute;
	top:130px;
	left:0;
	right:0;
	height:100%;
}
text-animate{
	position: absolute;
	top:100px;
	left:50%;
	max-width: 900px;
	width:900px;
	margin-left:-450px;
	color:#fff;
}

dig0{
	left:0;
	top:0;
	position: absolute;
	font-size: 60px;
	font-family: Poppins;
	width:470px;


}

main{
	position: absolute;
	top:0;
	left:480px;
	width:400px;
	overflow: hidden;
	height:5em;

}
dig1{
	animation:rollup1 5s ease 0s infinite normal;
	left:0px;
	top:0;
	position: absolute;
	font-size: 60px;
	font-family: Poppins;
	text-decoration: underline;

}


dig2{
		animation:rollup2 5s ease 0s infinite normal;
		left:0px;
		top:0;
		position: absolute;
		font-size: 60px	;
		font-family: Poppins;

		text-decoration: underline;
}


.subHeading{
	position: absolute;
	top:50px;
	width:300px;
	left:50%;
	margin-left:-180px;
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
	color: #fff;
	text-align: center;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:10px;
	border-bottom: 2px #fff solid;

	z-index: 10;
}

.blackBg{
	//background: #028090;
}


@-webkit-keyframes rollup1{
	
	0%{
		opacity: 1;
		top:4em;
		left:0;
	}
	30%{
		left:0;
		top:4em;
	}
	50%{
		opacity: 1;		
		left:0px;
		top:0;	
	}
	80%{
		top:0;
		left:0px;
		opacity: 1;
	}
	88%{
		opacity: 0;
	}
	99%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity: 0;
		left:0;
		top:4em;
	}
}


@-webkit-keyframes rollup2{

	
	0%{
		top:0;
		left:0;
		opacity: 1;
	}
	30%{
		left:0;
		top:0;
		opacity: 1;
	}
	35%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		left:500px;
		top:0;	
	}
	80%{
		opacity: 0;
		top:4em;
		left:0;
	}

	100%{
		opacity: 1;
		left:0;
		top:0;
	}
}

@-moz-keyframes rollup1{
	
	0%{
		opacity: 1;
		top:4em;
		left:0;
	}
	30%{
		left:0;
		top:4em;
	}
	50%{
		opacity: 1;		
		left:0px;
		top:0;	
	}
	80%{
		top:0;
		left:0px;
		opacity: 1;
	}
	88%{
		opacity: 0;
	}
	99%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity: 0;
		left:0;
		top:4em;
	}
}


@-moz-keyframes rollup2{

	
	0%{
		top:0;
		left:0;
		opacity: 1;
	}
	30%{
		left:0;
		top:0;
		opacity: 1;
	}
	35%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		left:500px;
		top:0;	
	}
	80%{
		opacity: 0;
		top:4em;
		left:0;
	}

	100%{
		opacity: 1;
		left:0;
		top:0;
	}
}

@keyframes rollup1{
	
	0%{
		opacity: 1;
		top:4em;
		left:0;
	}
	30%{
		left:0;
		top:4em;
	}
	50%{
		opacity: 1;		
		left:0px;
		top:0;	
	}
	80%{
		top:0;
		left:0px;
		opacity: 1;
	}
	88%{
		opacity: 0;
	}
	99%{
		opacity: 0;
		top:0;
		left:500px;
	}
	100%{
		opacity: 0;
		left:0;
		top:4em;
	}
}


@keyframes rollup2{

	
	0%{
		top:0;
		left:0;
		opacity: 1;
	}
	30%{
		left:0;
		top:0;
		opacity: 1;
	}
	35%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		left:500px;
		top:0;	
	}
	80%{
		opacity: 0;
		top:4em;
		left:0;
	}

	100%{
		opacity: 1;
		left:0;
		top:0;
	}
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(http://fonts.gstatic.com/s/poppins/v1/w5uwZf-mdghB6LOAw_y9AFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(http://fonts.gstatic.com/s/poppins/v1/HUuNgGR31mqIHE6zs0BlBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.down_arrow{
	height:20px;
	width:20px;
}


bouncer{
	position: absolute;
	top:600px;
	left:50%;
	margin-left:-15px;
	height:40px;
	width:40px;
	//border-radius: 50%;
	//border:2px solid #fff;


}

bouncer img{
	position: absolute;
	top:0px;
	left:0;
	margin:-4px;

	animation: moveDown 0.6s ease-in-out 0s infinite alternate;
	-moz-animation: moveDown 0.6s ease-in-out 0s infinite alternate;
	-webkit-animation: moveDown 0.6s ease-in-out 0s infinite alternate;


}

@-webkit-keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}
@-moz-keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}
@keyframes moveDown{

	0%{
		margin-top:-8px;
	}
	100%{
		margin-top:6px;
	}
}



popUp{
	position: absolute;
	top:400px;
	height: 40px;
	width:auto;
	left:50px;
	transition: top 0.2s linear;


	
}

popUp a{
	font-family: 'PT Sans', sans-serif;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding:10px;
	border:2px solid #fff;


}

popUp a:hover{
	-webkit-box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
box-shadow: -9px 11px 42px -8px rgba(0,0,0,0.75);
}

.leftPop:hover{
	background: #fff;
	color: #E63946;
}


.middlePop:hover{
	background: #fff;
	color: #000;
}

.rightPop:hover{
	background: #fff;
	color: #003459;
}

.rightPop1:hover{
	background: #fff;
	color: #FCA311;
}
.leftPop1:hover{
	background: #fff;

	color: #499167;
}
para{

	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	padding:10px;
	margin:10px;
	text-align: left;
	display: block;
}
.neon{
	text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 60px deepskyblue, 0 0 70px deepskyblue, 0 0 80px deepskyblue, 0 0 90px deepskyblue, 0 0 100px skyblue;
}


