body{
	margin: 0; 
  background:  rgb(230,230,230);

}

h1{
  font-size: 2.2em;
}

h2{

  font-weight: normal;

}

costBlock{
  //transform:translateY(-40px);
  display: inline-block;
  margin:20px;
  background: #fff;
  padding:10px;
  border:2px solid #fff;
  color:#000;
  text-decoration: none;
  transition: background 0.2s linear;
  font-weight: normal;
  z-index: 10;
        border-radius: 5px;


}
.costBlock:before{
      content: '';
      display: inline-block;
      z-index: 5;
      transform:translateX(-29px) translateY(-5px) rotate(-45deg);
      -ms-transform:translateX(-29px) translateY(-5px) rotate(-45deg);
      -webkit-transform:translateX(-29px) translateY(-5px) rotate(-45deg);
      -o-transform:translateX(-29px) translateY(-5px) rotate(-45deg);
      -moz-transform:translateX(-29px) translateY(-5px) rotate(-45deg); 
      background-color:white;
      width:40px;
      height:40px;
      position: absolute;
      -moz-border-radius: 5px;
      border-radius: 5px;
      z-index: -5;
}

.costBlock:after {
      content: '';
      border-radius: 15px;
      height: 10px;
      width: 10px;
      position: absolute;
      z-index:0;
      transform:translateX(-121px) translateY(11px);
      -ms-transform:translateX(-121px) translateY(11px);
      -webkit-transform:translateX(-121px) translateY(11px);
      -o-transform:translateX(-121px) translateY(11px);
      -moz-transform:translateX(-121px) translateY(11px); 
      background: #FCA311;
    }

.fixedLink{
  float:right;
  margin:30px;
  z-index: 10;

}

.fixedLink a{
  background: transparent;
  padding:10px;
  border:2px solid #fff;
  color:#fff;
  text-decoration: none;
  transition: background 0.2s linear;
  font-weight: bolder;
  z-index: 10;

}

.fixedLink a:hover{
  color:#000;
  background: #fff;

}

.backLink {
  float:left;
  z-index: 10;

}

.backLink img{
  padding:30px;
  display: block;
  height: 35px;
  width:auto;
}

.subHeading{
  text-align: center;
  font-size: 2em;
  color: #555;
  margin:1em;
}



.cdnContainer{
	background: #000;
	font-family: 'Lato', sans-serif;
 	color: #fff;
 	width: 100%;
 	overflow: hidden;
 	position: absolute;
 	top:0;
 	left:0;
  background: #FCA311;
 	height:400px;
  -webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);

  z-index: 0;
}

.countdown {
  position: absolute;
  top: 50px;
  left: 0%;
  width: 100%;

  text-align: center;
}
.countdown.style-1 div {
  margin-left: 1rem;
  margin-right: 1rem;
}
.countdown.style-1 div span {
  display: block;
}
.countdown div {
  font-size: 5rem;
  font-weight: 100;
  display: inline-block;
}
.countdown div span {
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
}


.content{

  background:  rgb(230,230,230);
  font-family: 'Lato', sans-serif;
  color: #000;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top:400px;
  left:0;
  height:auto;

}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: block;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
  width: 100%;
  padding: 4em 0 1em 0;
}

.timeline li {
  padding: 2em 0;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;

  text-align: center;
}

.flag-wrapper {
  text-align: center;
}

.flag {
  background: rgb(255,255,255);
  z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
  left: 50%;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -9px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(245,245,245);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  
  z-index: 15;
}

}




@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
  margin: 1em 4em 0 4em;
}

}

@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

.infoBox{
/*  position: absolute;
  left:50%;
*/  width:60%;
  height:auto;
  margin-left: 20%;
  font-family: Helvetica;

}
/*
#infoBox1{
  top:2150px;

}
#infoBox2{
  top:2650px;

}
#infoBox3{
  top:3050px;

}
#infoBox4{
  top:3350px;

}*/
#infoBox5{
/*  top:3750px;
*/  margin-bottom: 150px;
}
.infoText{
  border-top: 4px solid #444;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  color:#fff;
  margin:30px;

}

.infoPara{
  text-align: center;
}
.infoPara ul{
  text-align: left;
  font-size: 17px;
}




@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }


}

.table {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  /*position: absolute;
  top:1900px;
  */width:auto;
  margin-bottom:1em;
  
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
  .table{
    /*top:1600px;*/
    width:40%;
    margin-left:30%;
    /*left:50%;*/
  }
}

.rwd-table {
  background: transparent;
  color: #555;

  overflow: hidden;
  border-top:4px solid #444;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #000;
}



@media (min-width: 480px){


  #infoPara1{
    width:50%;
    
    margin-left: 25%;
    
  }


}

.upArrow{
  position: absolute;
  left:49%;
  height: 0;
  width: 0;
  border:20px solid transparent;
  border-bottom:20px solid #444;
}

.trY60{
    transform: translateY(-60px);

}
.trY70{
    transform: translateY(-70px);

}

.trY37{
  transform: translateY(-37px);
}

#infoPara1{
  font-size: 20px;
  color:#000;
  background: transparent;
  border-top:4px solid #444;
 /* -webkit-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 96px -13px rgba(0,0,0,0.75);*/
  text-align: center;
  padding:20px;
  display: block;
}

